{
    "presets": ["next/babel"],
    "plugins": ["istanbul"],
    "env": {
        "production": {
            "plugins": [
                "react-remove-properties"
            ]
        },
        "development": {
            "plugins": ["babel-plugin-styled-components"]
        }
    }
}
