{
  "presets": ["next/babel"],
  "plugins": ["istanbul"],
  "env": {
    "production": {
      "plugins": [["styled-components", { "ssr": true }]]
    },
    "development": {
      "plugins": ["babel-plugin-styled-components"]
    }
  }
}
