# IDE files
.vscode/
.idea/

# Python files
__pycache__/
*.pyc

# Distribution
build/
dist/
*.egg-info/

# Code testing/coverage
.tox
test-results/
.coverage
htmlcov/

# Test database
db.sqlite3

# Mac
.DS_Store
