# IDE files
.vscode/*
!.vscode/settings.json
.idea/

# Python files
__pycache__/
*.pyc
.python-version

# Distribution
/frontend/public/storybook/
build/
dist/
*.egg-info/

# Code testing/coverage
.tox
test-results/
.coverage
htmlcov/

# Test database
db.sqlite3

# Mac
.DS_Store

# React
node_modules/
.yarn
.yarnrc.yml
.next/

# Development Enviroment
env.sh

# Development images folder
uploads/

# Virtualenv
backend/.venv
backend/.env

# Cypress
frontend/cypress/videos
frontend/cypress/screenshots

# Frontend code coverage
frontend/.nyc_output
frontend/coverage

# Windows
.DS_STORE

# Logs
yarn-error.log
*/certs/*