[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"
unittest-xml-reporting = "*"

[packages]
dj-database-url = "*"
djangorestframework = "*"
gunicorn = "*"
mysqlclient = "*"
sentry-sdk = "*"
whitenoise = "*"
unittest-xml-reporting = "*"
django = "*"

[requires]
python_version = "3.7"
