[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"
unittest-xml-reporting = "*"
django-extensions = "*"
"flake8" = "*"

[packages]
dj-database-url = "*"
djangorestframework = "*"
gunicorn = "*"
mysqlclient = "*"
sentry-sdk = "*"
whitenoise = "*"
unittest-xml-reporting = "*"
django = "*"
django-labs-accounts = "*"
drf-nested-routers = "*"
"bs4" = "*"
bleach = "*"
django-cors-headers = "*"
uritemplate = "*"
pyyaml = "*"

[requires]
python_version = "3"
