name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
unittest-xml-reporting = ">=3.0.2"
flake8 = "*"
flake8-isort = "*"
isort = "*"
flake8-quotes = "*"
django-debug-toolbar = "*"
django-extensions = "*"
black = ">=22.3.0"

[packages]
dj-database-url = "*"
djangorestframework = "*"
sentry-sdk = "*"
django = "*"
django-labs-accounts = "*"
drf-nested-routers = "*"
"bs4" = "*"
bleach = "*"
django-cors-headers = "*"
uritemplate = "*"
pyyaml = "*"
django-storages = "*"
pillow = "*"
"boto3" = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
qrcode = "*"
drf-renderer-xlsx = "==0.3.9"
python-dateutil = "*"
psycopg2 = "*"
django-simple-history = "*"
channels = "<3"
django-runtime-options = "*"
social-auth-app-django = "*"
django-redis = "*"
channels-redis = "*"
uwsgi = {version = "*", sys_platform = "== 'linux'"}
uvloop = {version = "*", sys_platform = "== 'linux'"}
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
httptools = "*"
ics = "*"
urlextract = "*"
jsonref = "*"
"backports.zoneinfo"={version = "*", python_version = "< '3.9'"}
unittest-xml-reporting = "*"
tblib = "*"
pre-commit = "*"

[requires]
python_version = "3"
