[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
unittest-xml-reporting = ">=3.0.2"
flake8 = "*"
flake8-isort = "*"
isort = "*"
flake8-quotes = "*"
django-debug-toolbar = "*"
django-extensions = "*"
ruff = "*"

[packages]
dj-database-url = "*"
djangorestframework = "*"
sentry-sdk = "*"
django = ">=5"
django-labs-accounts = "*"
drf-nested-routers = "*"
"bs4" = "*"
bleach = "==4.1.0"
django-cors-headers = "*"
uritemplate = "*"
pyyaml = "*"
django-storages = "*"
pillow = "*"
"boto3" = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
qrcode = "*"
python-dateutil = "*"
psycopg2 = "*"
django-simple-history = "*"
channels = "*"
django-runtime-options = "*"
social-auth-app-django = "*"
django-redis = "*"
channels-redis = "*"
uwsgi = {version = "*", sys_platform = "== 'linux'"}
uvloop = {version = "*", sys_platform = "== 'linux'"}
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
httptools = "*"
ics = "*"
urlextract = "*"
jsonref = "*"
unittest-xml-reporting = "*"
tblib = "*"
pre-commit = "*"
django-clone = "*"
click = "==8.0.4"
jinja2 = "*"
pandas = "*"
drf-excel = "*"
numpy = "*"
coverage = "*"
daphne = "*"
tatsu = "==5.8.3"

[requires]
python_version = "3.11"
