@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Inter-Regular.woff2?v=3.11') format('woff2'),
    url('Inter-Regular.woff?v=3.11') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('Inter-Italic.woff2?v=3.11') format('woff2'),
    url('Inter-Italic.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Inter-Medium.woff2?v=3.11') format('woff2'),
    url('Inter-Medium.woff?v=3.11') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('Inter-MediumItalic.woff2?v=3.11') format('woff2'),
    url('Inter-MediumItalic.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Inter-Bold.woff2?v=3.11') format('woff2'),
    url('Inter-Bold.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('Inter-BoldItalic.woff2?v=3.11') format('woff2'),
    url('Inter-BoldItalic.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('OpenSans-Light.woff') format('woff'),
    url('OpenSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('OpenSans-LightItalic.woff') format('woff'),
    url('OpenSans-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('OpenSans-Regular.woff') format('woff'),
    url('OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('OpenSans-Italic.woff') format('woff'),
    url('OpenSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('OpenSans-SemiBold.woff') format('woff'),
    url('OpenSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('OpenSans-SemiBoldItalic.woff') format('woff'),
    url('OpenSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('OpenSans-Bold.woff') format('woff'),
    url('OpenSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('OpenSans-BoldItalic.woff') format('woff'),
    url('OpenSans-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('OpenSans-ExtraBold.woff') format('woff'),
    url('OpenSans-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('OpenSans-ExtraBoldItalic.woff') format('woff'),
    url('OpenSans-ExtraBoldItalic.woff2') format('woff2');
}