{% extends 'emails/base.html' %}

{% block content %}
    <h2><b>{{ name }}</b> renewal has been marked as {% if approved %}approved{% else %}rejected{% endif %} on Penn Clubs</h2>
    {% if approved %}
    <p style="font-size: 1.2em; color: #228B22">
        <b>🎉 Congratulations!</b> Your club has been approved by the <b>Office of Student Affairs</b> for the {{ year }} school year! 
        Your club information is now open to the public on Penn Clubs.
    </p>
    {% if approved_comment %}
        <p style="font-size: 1.2em; padding: 8px; border-left: 5px solid #ccc;">{{ approved_comment }}</p>
    {% endif %}
    <p style="font-size: 1.2em">
        You do not need to perform any further actions. If you indicated interest in the SAC fair, SAC will reach out to you with further details on the fair.
    </p>
    <p style="font-size: 1.2em">
        You can view your club <a href="{{ view_url }}">here</a> and make further edits <a href="{{ view_url }}">here</a>.
        If you have any feedback about the club renewal process, you can respond to this email or fill out <a href="https://airtable.com/shrCsYFWxCwfwE7cf">this form</a>.
    </p>
    <p style="font-size: 1.2em">
        Thank you for using Penn Clubs!
    </p>
    {% else %}
    <p style="font-size: 1.2em; color: #8B2222">
        <b>Oh no!</b> Your club renewal has been <b>rejected</b> by the <b>Office of Student Affairs</b>. You will need to make changes to your club information before gaining approval.
    </p>
    <p style="font-size: 1.2em">The reason your club was rejected is shown below:</p>
    <p style="font-size: 1.2em; padding: 8px; border-left: 5px solid #ccc;">{{ approved_comment }}</p>
    <p style="font-size: 1.2em">You will need to <a href="{{ edit_url }}">make edits</a> to your club and press the button found <a href="{{ view_url }}">here</a> to apply again for approval.</p>
    <p style="font-size: 1.2em">If you run into any issues with the approval process, you can respond to this email.</p>
    <p style="font-size: 1.2em">
    <a
       style="text-decoration: none; padding: 5px 20px; font-size: 1.5em; margin-top: 20px; color: white; background-color: green; border-radius: 3px; font-weight: bold"
       href="{{ view_url }}">
       Review {{ name }}
    </a>
    </p>
    {% endif %}
{% endblock %}
