<!-- TYPES:
name:
    type: string
reply_emails:
    type: array
    items:
        type: string
-->
{% extends 'emails/base.html' %}

{% block content %}
    <h2><b>{{ name }}</b> status update on Penn Clubs</h2>
    <p style="font-size: 1.2em;">
        Your club has been removed from Penn Clubs by the Office of Student Affairs.
    </p>
    <p style="font-size: 1.2em">
        If you have any questions or concerns, please
        respond to this email or <a href="mailto:{% for email in reply_emails %}{% if not forloop.first %},{% endif %}{{ email }}{% endfor %}">contact the Office of Student Affairs</a>.
    </p>
{% endblock %}