<!-- TYPES:
name:
    type: string
branding_site_name: 
    type: string
branding_site_email: 
    type: string
-->
{% extends 'emails/base.html' %}

{% block content %}
    <h2><b>{{ name }}</b> has been marked as deleted on {{ branding_site_name }}</h2>
    <p style="font-size: 1.2em; color: #8B2222">
        <b>Oh no!</b> Your club has <b>been removed</b> from {{ branding_site_name }} by the <b>Office of Student Affairs</b>.
    </p>
    <p style="font-size: 1.2em">If you believe this is an error, please contact <a href="mailto:{{ branding_site_email }}">{{ branding_site_email }}</a>.</p>
{% endblock %}
