<!-- SUBJECT: [Action Needed] Committee Questions Bug in Duplicated Penn Clubs Applications -->
<!-- TYPES: {} -->
{% extends 'emails/base.html' %}

{% block content %}
    <h2>[Action Needed] Committee Questions Bug in Duplicated Penn Clubs Applications</h2>
    <p style="font-size: 1.2em">Dear Club leaders,</p>
    <p style="font-size: 1.2em">You are receiving this email because <b>your Fall 2026 application on Penn Clubs is affected by a bug</b>: it has committee-specific questions that are no longer linked to any committee. Please take a few minutes to fix this as soon as possible.</p>
    <p style="font-size: 1.2em">As you may know, we allow questions to be targeted towards specific committees. When applications are duplicated from previous applications, either as part of an automatic Wharton Council process or manually using the <b>Duplicate</b> button, these committee-specific questions are duplicated for Fall 2026, but are no longer associated with their assigned committees.</p>
    <p style="font-size: 1.2em">As a result, <b>applicants are not seeing the questions you intended for them</b>.</p>
    <p style="font-size: 1.2em">To fix your application, <b>please follow the steps below</b>.</p>
    <ol style="font-size: 1.2em">
        <li>Use the <b>Preview</b> feature on your application, previewing different committees, to see which questions are missing.</li>
        <li>Use the <b>Edit Questions</b> utility to relink the questions to their committees, and make sure to <b>Save</b> all changes.</li>
        <li>Use <b>Preview</b> again to ensure that your application looks correct.</li>
    </ol>
    <p style="font-size: 1.2em">The visual guide below shows where to find each step.</p>
    <img src="https://i.imgur.com/Ry7PCuH.jpeg" alt="Visual guide for previewing and relinking committee questions" style="max-width: 100%; margin: 20px 0;" />
    <p style="font-size: 1.2em">Please do not hesitate to reach out immediately if you have any questions or notice any additional bugs. We apologize for any inconvenience caused.</p>
    <p style="font-size: 1.2em">Best regards,</p>
    <p style="font-size: 1.2em">Penn Clubs</p>
{% endblock %}
