{% extends 'emails/base.html' %}
{% block content %}
<!-- SUBJECT: [{{ prefix }}] {{ fair.name }} Setup and Information -->
<!-- TYPES:
fair_url:
    type: string
guide_url:
    type: string
media_guide_url:
    type: string
name:
    type: string
prefix:
    type: string
zoom_url:
    type: string
fair:
    type: object
    properties:
        name:
            type: string
        time:
            type: string
        contact:
            type: string
events:
    type: array
    items:
        type: object
        properties:
            time:
                type: string
extra:
    type: boolean
-->
    <h2>[{{ prefix }}] {{ fair.name }} Setup and Information</h2>
    <p style="font-size: 1.2em">
    	Dear <b>{{ name }}</b> officers,
    </p>
    <p style="font-size: 1.2em">
        We are looking forward to seeing you at the {{ fair.name }}! The fair will be on <b>{{ fair.time }}</b>. There are a
        few <b>action items you must complete</b>,
        such as adding club officers and setting up your Zoom meeting, prior to the start of the {{ fair.name }}.
    </p>
    <p style="font-size: 1.2em">{{ name }} is scheduled to present on the following time slots:</p>
    <ul style="font-size: 1.2em">
        {% for event in events %}
        <li>{{ event.time }}</li>
        {% endfor %}
    </ul>
    <p style="font-size: 1.2em">To find which day a specific club is presenting on, you can check <a href="{{ fair_url }}">this list</a>.</p>
    <p style="font-size: 1.2em">
        Please follow the link below to setup your virtual fair booth for the {{ fair.name }}. Only one club officer needs to complete the setup process.
    </p>
    
    <a style="text-decoration: none; padding: 5px 20px; font-size: 1.5em; margin-top: 25px; color: white; background-color: green; border-radius: 3px; font-weight: bold" href="{{ zoom_url }}">Setup Your Booth</a>
    
    {% if extra %}
    <p style="font-size: 1.2em">
        Reminder that if your club is not going to participate in the Jan 27 morning session, you MUST upload a multimedia alternative to your club page by noon on the day you're scheduled for.
        To learn how to do this, you can follow <a href="{{ media_guide_url }}">this guide</a>.
    </p>
    {% endif %}

    <p style="font-size: 1.2em">
        For more information about the fair, check out the <a href="{{ guide_url }}">officer guide</a>.
        The guide contains information on how to use our three-step process to ensure your Zoom meetings
        are best set up for the {{ fair.name }}, how to best take advantage of the tools Penn Clubs has to 
        offer, and tips on how to boost your club to the top of our homepage!
    </p>
    
    <p style="font-size: 1.2em">
        If you have any questions about the Penn Clubs platform, please respond to this email.
    </p>

    <p style="font-size: 1.2em">
        If you have any questions about the {{ fair.name }} in general, please contact <a href="{{ fair.contact }}">{{ fair.contact }}</a>.
    </p>
{% endblock %}
