{% extends 'emails/base.html' %}

{% block content %}
    <h2>[ACTION REQUIRED] SAC Fair Information</h2>
    <p style="font-size: 1.2em">
    	Dear <b>{{ name }}</b> officers,
    </p>
    <p style="font-size: 1.2em">
        We are looking forward to the 2020 Virtual SAC Fair next week! There are a few things you
        must complete, as club officers, to finish setting up your virtual SAC Fair Event. Please follow
        the link below for how to add a Zoom link to your event (required for participation), how to
        use our <a href="https://pennclubs.com/zoom">three-click process</a> to ensure your Zoom meetings
        are best set up for the SAC Fair, how to best take advantage of the tools Penn Clubs has to 
        offer, and tips on how to boost your club to the top of our page!
    </p>
    
    <a style="text-decoration: none; padding: 5px 20px; font-size: 1.5em; margin-top: 25px; color: white; background-color: green; border-radius: 3px; font-weight: bold" href="{{ url }}">SAC Fair Guide</a>
    <p style="font-size: 1.2em">
        If you have any questions about the Penn Clubs platform, please feel free to respond to this email.
    </p>

    <p style="font-size: 1.2em">
        If you have any questions about the SAC Fair in general, please contact <a href="mailto:sacfair@sacfunded.net">sacfair@sacfunded.net</a>.
    </p>
{% endblock %}
