{% extends 'emails/base.html' %}

{% block content %}
<!-- SUBJECT: [{{ prefix }}] {{ fair.name }} Setup -->
<!-- TYPES:
guide_url:
    type: string
name:
    type: string
prefix:
    type: string
zoom_url:
    type: string
fair:
    type: object
    properties:
        name:
            type: string
        time:
            type: string
        contact:
            type: string
-->
    <h2>[{{ prefix }}] {{ fair.name }} Setup</h2>
    <p style="font-size: 1.2em">
    	Dear <b>{{ name }}</b> officers,
    </p>
    <p style="font-size: 1.2em; color: #FF3860; font-weight: bold">You have not yet set up your {{ fair.name }} booth.</p>
    <p style="font-size: 1.2em">
        In order to participate in the {{ fair.name }} this week, you <b>must</b> add a meeting link to your virtual
        booth prior to the start of the fair at <b>{{ fair.time }}</b>.
    </p>
    <p style="font-size: 1.2em">
        Please click the button below to add a meeting link to your booth for the {{ fair.name }}. This process should take less than five minutes.
    </p>
    
    <a style="text-decoration: none; padding: 5px 20px; font-size: 1.5em; margin-top: 25px; color: white; background-color: green; border-radius: 3px; font-weight: bold" href="{{ zoom_url }}">Setup Meeting Link</a>
    <p style="font-size: 1.2em">
        If you run into any issues or have any questions about the Penn Clubs platform, please respond to this email.
    </p>

    <p style="font-size: 1.2em">
        If you are no longer interested in participating in the {{ fair.name }} or have any questions about the SAC Fair in general, please contact <a href="mailto:{{ fair.contact }}">{{ fair.contact }}</a>.
    </p>
{% endblock %}
