<!-- TYPES: {} -->
{% extends 'emails/base.html' %}

{% block content %}
    <h2>Getting Involved with Clubs & SAC Fair Feedback </h2>
    <p style="font-size: 1.2em">
    	Hi there,
    </p>
    <p style="font-size: 1.2em">
        Hope you had a great SAC Fair! As a user of Penn Clubs, we’d love to hear some feedback from 
        you on how we did transitioning this years Club Fair online!
    </p>
    <p style="font-size: 1.2em">
        If you have 5 minutes to fill out our short feedback survey here, that would be greatly
        appreciated. We plan on continuing to improve Penn Clubs based on input from our users like you.
    </p>

    <p style="font-size: 1.2em">
        Just as a reminder, officers of clubs <b>cannot see your contact information</b> if you have 
        only <i>bookmarked</i> your club. They can, however, see your information if you have <i>subscribed</i>
        to their club. We also encourage you to check back on club pages in their "How to Get Involved" 
        section of their pages for more information on applications, info sessions, and more.
    </p>

    <p style="font-size: 1.2em">
    Thanks for helping us expand our platform during the SAC Fair! We appreciate your patience as we
     transitioned. Please let us know if you have any questions or feedback.
    </p>

    <a style="text-decoration: none; padding: 5px 20px; font-size: 1.5em; margin-top: 25px; color: white; background-color: rgb(32, 156, 238); border-radius: 3px; font-weight: bold" href="https://airtable.com/shrMHAuo1C5t4RJ1R">Fill out our Survey!</a>
{% endblock %}
