{% extends 'emails/base.html' %}
{% block content %}
<!-- SUBJECT: [{{ prefix }}] {{ fair.name }} Setup and Information -->
<!-- TYPES:
fair_url:
    type: string
guide_url:
    type: string
name:
    type: string
prefix:
    type: string
zoom_url:
    type: string
fair:
    type: object
    properties:
        name:
            type: string
        time:
            type: string
        contact:
            type: string
-->
    <h2>[{{ prefix }}] {{ fair.name }} Setup and Information</h2>
    <p style="font-size: 1.2em">
    	Dear <b>{{ name }}</b> officers,
    </p>
    <p style="font-size: 1.2em">
        We are looking forward to seeing you at the {{ fair.name }}! The fair will be on <b>{{ fair.time }}</b>. There are a
        few
        <b>action items you must complete</b>,
        such as adding club officers and setting up your Zoom meeting, prior to the start of the {{ fair.name }}.
    </p>
    <p style="font-size: 1.2em">To find which day a specific club is presenting on, you can check <a href="{{ fair_url }}">this list</a>.</p>
    <p style="font-size: 1.2em">
        Please follow the link below to setup your virtual fair booth for the {{ fair.name }}.
    </p>
    
    <a style="text-decoration: none; padding: 5px 20px; font-size: 1.5em; margin-top: 25px; color: white; background-color: green; border-radius: 3px; font-weight: bold" href="{{ zoom_url }}">Setup Your Booth</a>
    
    <p style="font-size: 1.2em">
        For more information about the fair, check out the <a href="{{ guide_url }}">officer guide</a>.
        The guide contains information on how to use our three-step process to ensure your Zoom meetings
        are best set up for the SAC Fair, how to best take advantage of the tools Penn Clubs has to 
        offer, and tips on how to boost your club to the top of our homepage!
    </p>
    
    <p style="font-size: 1.2em">
        If you have any questions about the Penn Clubs platform, please respond to this email.
    </p>

    <p style="font-size: 1.2em">
        If you have any questions about the SAC Fair in general, please contact <a href="{{ fair.contact }}">{{ fair.contact }}</a>.
    </p>
{% endblock %}
