{% extends 'emails/base.html' %}

{% block content %}
    <h2>Renew <b>{{ name }}</b> on Penn Clubs & SAC Fair Signup</h2>
    <p style="font-size: 1.2em">
    	Dear <b>{{ name }}</b> officers,
    </p>
    <p style="font-size: 1.2em">
        We have opened the student group registration process for the 2020-2021 academic year. To be
        considered an active student group on campus, the University requires all student organizations
        to be registered with the Office of Student Affairs. <b>This year, we have migrated our Student
        Groups platform from the previous system, G.O. Penn, to Penn Labs' platform, Penn Clubs.</b>
        All official registry of student groups will now be handled through Penn Clubs.
    </p>
    <p style="font-size: 1.2em">
        <b>Please note a couple of important reminders regarding club information:</b>
        <ul style="font-size: 1.2em">
            <li>Student groups on campus may <b>NOT</b> use the word "UPenn" in their club names. Instead, we advise you to use "Penn" or "at the University of Pennsylvania".</li>
            <li>The Penn shield <b>CANNOT</b> be used in club logos, edited or unedited. Clubs with the Penn shield in their logos will not be approved for registration.</li>
        </ul>
    </p>
    <p style="font-size: 1.2em">
        If you have already graduated, <b>PLEASE FORWARD THIS EMAIL</b> to the current leadership of
        the group so that they may complete the registration process and sign up for the SAC Fair. If they are not currently listed as an officer for your club on Penn Clubs, they will need to email contact@pennclubs.com with their name, PennKey, and club name.
    </p>
    <p style="font-size: 1.2em">
        Click the button below to renew your club, as well as have the opportunity to sign up for the virtual SAC Fair.
         You will need to sign in with your PennKey in order to complete the process. 
    </p>

    <p style="font-size: 1.2em">
        Once the request for reactivation/registration is approved, the group will be listed on the 
        front page of Penn Clubs and will be searchable for students on the site.
    </p>
    
    <a style="text-decoration: none; padding: 5px 20px; font-size: 1.5em; margin-top: 25px; color: white; background-color: green; border-radius: 3px; font-weight: bold" href="{{ url }}">Renew Club</a>
    <p style="font-size: 1.2em">
        If you have any questions, feel free to respond to this email.
    </p>
{% endblock %}
