<!-- TYPES:
name:
    type: string
url:
    type: string
year:
    type: number
-->
{% extends 'emails/base.html' %}

{% block content %}
<h2>Reminder to Renew <b>{{ name }}</b> on Penn Clubs & SAC Fair Signup by 8/24!</h2>
<p style="font-size: 1.2em">
    Dear <b>{{ name }}</b> leaders,
</p>

<p style="font-size: 1.2em; color: #8B2222">
    You have not yet renewed your club for the {{ year }} school year.
    <b>
        If you do not submit a renewal request by August 24th, your club may not be approved by the Office of
        Student Affairs or participate in the SAC Virtual Activities Fair for new student orientation.
    </b>
    Use the green button below to renew your club. The process takes less than 5 minutes.
</p>

<p style="font-size: 1.2em">
    If you have already graduated, <b>PLEASE FORWARD THIS EMAIL</b> to the current leadership of
    the group so that they may complete the registration process and sign up for the SAC Fair. If
    they are not currently listed as an officer for your club on Penn Clubs, they will need to
    email <b>contact@pennclubs.com</b> using their Penn email with a list of club(s) in which they want
    to renew their position.
</p>

<p style="font-size: 1.2em">
    <u><b>Re-Registration Process (including SAC Fair sign-up) - Deadline Aug. 24th</b></u>
</p>

<p style="font-size: 1.2em">
    It is imperative that your group designate <b>ONLY ONE</b> executive board member to complete this process,
    preferably a
    member who is listed on pennclubs.com as an officer for your club.
</p>

<p style="font-size: 1.2em">
    If you are logged in and do not see any clubs, reply to this email with your PennKey and club name to gain
    access to re-register your club for the upcoming school year.
</p>

<p style="font-size: 1.2em">
    Follow the 5 steps listed to update your club's information. This would be the process for your organization to gain
    official approval from the Office of Student Affairs. The final page of the renewal process will ask whether
    or
    not your club is interested in participating in the semesterly SAC Fair. To sign up, please simply check the box on
    this
    page, and your information will be sent to the SAC Fair Coordinator.
</p>
<a style="text-decoration: none; padding: 5px 20px; font-size: 1.5em; margin-top: 25px; color: white; background-color: green; border-radius: 3px; font-weight: bold"
    href="{{ url }}">Renew Club & Signup for SAC Fair</a>

<p style="font-size: 1.2em">
    If you have any questions or problems regarding re-registration, please reply to this email. If you have questions
    specifically regarding the SAC Fair, please send an email to sacfair@sacfunded.net.
</p>
{% endblock %}
