<!-- TYPES:
name:
    type: string
url:
    type: string
-->
{% extends 'emails/base.html' %}

{% block content %}
    <h2>Renew <b>{{ name }}</b> on Penn Clubs</h2>
    <p style="font-size: 1.2em">
    	Dear <b>{{ name }}</b> officers,
    </p>
    <p style="font-size: 1.2em">
        {% if queue_open_date %}
            We will be opening the re-approval queue on {{ queue_open_date }}. To be
            considered an active student group on campus, the University requires all student organizations
            to be registered with the Office of Student Affairs. It is also a pre-requisite for participation
            in SAC Activities Fairs.
            <b>All official registry of student groups is handled through Penn Clubs. </b>
        {% else %}
            We have opened the student group registration process for the current academic year. To be
            considered an active student group on campus, the University requires all student organizations
            to be registered with the Office of Student Affairs. It is also a pre-requisite for participation
            in SAC Activities Fairs.
            <b>All official registry of student groups is handled through Penn Clubs. </b>
        {% endif %}
    </p>

    <p style="font-size: 1.2em">
        If you have already graduated, <b>PLEASE FORWARD THIS EMAIL</b> to the current leadership of
        the group so that they may complete the registration process and sign up for the SAC Fair. If 
        they are not currently listed as an officer for your club on Penn Clubs, they will need to 
        email <b>contact@pennclubs.com</b> with their <b>name, PennKey, and club name</b>. 
    </p>

    <p style="font-size: 1.2em">
        Once the request for registration is approved, the group will be listed on the 
        front page of Penn Clubs and will be searchable for students on the site. 
    </p>

    <p style="font-size: 1.2em">
        <b>IMPORTANT NOTE:</b> Since this information is being distributed through various listservs and methods, please communicate 
        with your entire executive board before signing up for the fair. <b>ONLY ONE</b> officer of the club 
        should be designated to register the group. 
    </p>
    
    <a style="text-decoration: none; padding: 5px 20px; font-size: 1.5em; margin-top: 25px; color: white; background-color: green; border-radius: 3px; font-weight: bold" href="{{ url }}">Renew Club</a>
    <p style="font-size: 1.2em">
        If you have any questions, feel free to respond to this email.
    </p>
{% endblock %}
