<!-- SUBJECT: [CORRECTION] Updated information on Fall Activities Fair registration -->
<!-- TYPES: {} -->
{% extends 'emails/base.html' %} {% block content %}
<p style="font-size: 1.2em">Hello,</p>
<p style="font-size: 1.2em">
  You previously received an email from us regarding club re-registration, as
  well as information on a virtual SAC fair. This was outdated information on
  our part: the activities fair will be in-person from August 27-29.
</p>
<p style="font-size: 1.2em; color: #ff3860; font-weight: bold">
  Re-registration on the Penn Clubs platform, while still necessary, does not
  constitute registration for the fair. Please sign up for the fair
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLScLn0XrAdkPXgSBoT8bSt0xzWGcmJhwutjuRVmDYVPv8CjVjQ/viewform"
    >here</a
  >
  by August 23rd, 11:59 PM ET.
</p>
<p style="font-size: 1.2em">
  Note that only returning student groups that were University registered last
  year may sign up for the fair.
</p>
<p style="font-size: 1.2em">
  We have also enabled editing existing clubs and removed the need to re-queue
  after updating club description.
</p>
<p style="font-size: 1.2em">
  Please refer to the official email sent from the Office of Student Affairs for
  more information or contact the organizers
  <a href="mailto:fair@sacfunded.net">here</a>.
</p>
<p style="font-size: 1.2em">Apologies,</p>
<p style="font-size: 1.2em">Penn Clubs</p>

{% endblock %}
