<!-- SUBJECT: Club Recruitment Feedback Survey -->
<!-- TYPES: {} -->
{% extends 'emails/base.html' %}

{% block content %}
    <h2>Club Recruitment Feedback Survey</h2>
    <p style="font-size: 1.2em">
    	Hello,
    </p>
    <p style="font-size: 1.2em">
    	Congratulations on submitting your applications to clubs this recruitment cycle! Please fill out <a href="https://upenn.co1.qualtrics.com/jfe/form/SV_3LbWxwBui281yMS">this</a> short survey to share how the process is going so far.
    </p>
    <p style="font-size: 1.2em">
    	Good luck,
    </p>
    <p style="font-size: 1.2em">
    	Wharton Council & Penn Clubs
    </p>

{% endblock %}
