<!-- SUBJECT: Help Us Share a New Resource for Finding Penn Resources! -->
<!-- TYPES: {} -->
{% extends 'fyh_emails/base.html' %} {% block content %}
<h2>Help Us Share a New Resource for Finding Penn Resources!</h2>
<p style="font-size: 1.2em">
    Hello!
</p>
<p style="font-size: 1.2em">
    Penn’s newest online spot for resources launched earlier this semester. Hub@Penn is a one-stop shop for all resources within the Penn community. Born out of a vision of easing access to Penn resources for all of Penn’s community, and made by Penn students, Hub@Penn is a great resource for all students. As we begin to anticipate the coming semester, <b>we need your help!</b>
</p>
<p style="font-size: 1.2em">
    As you are thinking about preparing for orientation in August, please keep Hub@Penn in mind. Consider sharing a link to Hub@Penn on your website where appropriate, course syllabi or course website, signature line, or any other place you think helpful. The more students using Hub@Penn, the better it becomes at meeting the Penn communities’ needs.
</p>
<p style="font-size: 1.2em">Best</p>
<p style="font-size: 1.2em; margin: 0">Hub@Penn</p>
<p style="font-size: 1.2em; margin-top: 0"><a href="https://hub.provost.upenn.edu/">hub.provost.upenn.edu</a></p>

{% endblock %}
