<div style="width: 100%; background-color: white; margin: 0 auto; max-width: 600px; padding: 15px; font-family: Helvetica, Arial, sans-serif">
    <img src="https://pennclubs.com/static/img/penn_shield.png" alt="Penn Shield" style="width: 40px" />
    {% block content %}{% endblock %}
    <div style="text-align: center; margin-top: 20px">
        <a href="https://hub.provost.upenn.edu/">Hub@Penn</a>
        <br />
        Made with <span style="color: red">&hearts;</span> by <a href="https://pennlabs.org/">Penn Labs</a>
    </div>
</div>
