<!-- SUBJECT: Email Communication to Partners -->
<!-- TYPES: None -->
{% extends 'fyh_emails/base.html' %}

{% block content %}
    <h2>Email Communication to Partners</h2>
    <p style="font-size: 1.2em">We need your help getting the word out about Hub@Penn!</p>
    <p style="font-size: 1.2em"><a href="https://hub.provost.upenn.edu/">Hub@Penn</a> was created 
        to make Penn support resources more accessible to students, regardless of where they may 
        be physically located.</p>
    <p style="font-size: 1.2em">In order for Hub@Penn to be best utilized, we need your help 
        connecting with students. As an important part of our Penn community, you have access to 
        students that we do not. Hub@Penn is an easy-to-use new tool that can help students meet 
        their needs across campus: financial wellness, academic support, healthcare, career and 
        fellowship applications, and more.</p>
    <p style="font-size: 1.2em">Made for students by students, Hub@Penn was created by the team of 
        undergraduate engineers in the Penn Labs student club. Building on the success of the 
        online platform they created for Penn Clubs, Penn Labs teamed up with New Student 
        Orientation and Academic Initiatives, the Office of University 
        Life, and the Online Learning Initiative to design and launch the new Hub@Penn platform.</p>
    <p style="font-size: 1.2em">We ask that you please include a link to Hub@Penn in 
        communications with students where you feel appropriate (i.e. email, social media, 
        website, etc.). We have compiled a folder of approved language and images to be used in 
        your communications. You can find it here: 
        <a href="https://upenn.box.com/s/7h9hxvnt89tq7nxuidxoaw5ad72sujch/">
            https://upenn.box.com/s/7h9hxvnt89tq7nxuidxoaw5ad72sujch</a>.</p>
    <p style="font-size: 1.2em">Thank you for all the hard work you do to help students. We hope 
        that Hub@Penn will be a useful resource for you to help and direct students in finding 
        resources to meet their needs. </p>
    <br />
    <p style="font-size: 1.2em">Hub@Penn Planning Committee<br />
        <a href="https://hub.provost.upenn.edu/">hub.provost.upenn.edu</a></p>
    <p style="font-size: 1.2em">Office of New Student Orientation & Academic Initiatives (NSOAI)
        <br />University Life<br />Online Learning Initiative (OLI)</p>
{% endblock %}