<!-- SUBJECT: [Hub@Penn] Designate Resource Admin -->
<!-- TYPES: {} -->
{% extends 'fyh_emails/base.html' %}

{% block content %}
<h2>[Hub@Penn] Designate Resource Admin</h2>
<p style="font-size: 1.2em">
    Hi Campus Partners,
</p>
<p style="font-size: 1.2em">
    We hope this email finds you well and that your semester is off to great start! As we experience increased traffic
    on <a href=https://hub.provost.upenn.edu />Hub@Penn platform</a> with the new semester, <b>we are reaching out to
        all
        resources to ensure there is an active individual/team in charge of updating all information on your page</b>.
    If
    someone on your team needs to be granted access to manage your page, we wanted to be sure you know exactly how to do
    that!
</p>
<p style="font-size: 1.2em">
    Granting access to edit your resource information is easy! Simply navigate to your resource on Hub@Penn and click
    the green "Manage Resource" button.
</p>

<img src="https://i.imgur.com/B2nvYHw.png" alt="Manage resource screenshot" style="width: 100%" />

<p style="font-size: 1.2em">
    Then select the "Admin" tab.
</p>

<img src="https://i.imgur.com/D54cJgh.png" alt="Admin page screenshot" style="width: 100%" />

<p style="font-size: 1.2em">
    In this tab you can <b>send new email invites for access</b> to the resource or update titles and permissions of
    current
    resource admins.
</p>

<img src="https://i.imgur.com/vlBm4JX.png" alt="Invite editor screenshot" style="width: 100%" />

<p style="font-size: 1.2em">
    <b>Please note that if one of your team members doesn’t see a "Manage Resource" button on the resource page, this is
        because they currently don't have editing access to the resource.</b> The designated "Points of Contact" for the
    resource can grant access following the instructions above.
</p>

<p style="font-size: 1.2em">
    Once you have access to the resource, we also suggest taking a minute to look around and try out the tools we
    provide for managing and editing the resource such as events, mailing lists, FAQs, and analytics.
</p>

<p style="font-size: 1.2em">
    Please let us know if you have any questions.
</p>

<p style="font-size: 1.2em">
    Best, </br> Hub@Penn Admin </br> <a href=https://hub.provost.upenn.edu />https://hub.provost.upenn.edu/</a>
</p>

<p style="font-size: 1.2em">
    <b>What is Hub@Penn?</b></br>Hub@Penn is a platform to help Penn students find and connect with university support
    resources. Whether you need help with financial wellness, academic support, healthcare, career and fellowship
    applications, and more, you can use Hub@Penn to find the resource that meets your needs.
</p>

<p style="font-size: 1.2em">
    Office of New Student Orientation & Academic Initiatives (NSOAI) </br>
    Online Learning Initiative (OLI) </br>
    Penn Labs </br>
    Vice Provost for University Life (VPUL) </br>
</p>

<img src="https://pennclubs.com/static/img/hap_oli_logo.png" alt="Admin page screenshot" style="width: 60%" />
<br></br>
<img src="https://pennclubs.com/static/img/hap_vpul_logo.png" alt="Admin page screenshot" style="width: 60%" />
<br></br>
<img src="https://pennclubs.com/static/img/hap_nsoai_logo.png" alt="Admin page screenshot" style="width: 60%" />

{% endblock %}