<!-- TYPES: {} -->
{% extends 'emails/base.html' %}

{% block content %}
    <h2>Getting Involved with Clubs & SAC Fair Feedback </h2>
    <p style="font-size: 1.2em">
    	Hi Campus Partners,
    </p>
    <p style="font-size: 1.2em">
    We hope this email finds you well!
    </p>
    <p style="font-size: 1.2em">
        We are writing with instructions on how to effectively navigate your resource listing on
        the <a href = https://hub.provost.upenn.edu/> Hub@Penn platform </a>.
        First and foremost, please ensure that your entire team has access to your resource on Hub@Penn.
    </p>
    <p style="font-size: 1.2em">
       Access can be managed by navigating to your resource on Hub@Penn, clicking the green "Manage Resource" button,
        and then selecting the "Admin" tab. In this tab you can send new email invites for access
        to the resource or update titles and permissions of current resource admins.
    </p>

    <p style="font-size: 1.2em">
        <b>Please note that if you don't see a "Manage Resource" button on the resource page,
            this is because you currently don't have access to the resource.</b> Reach out to members
        of your office who are listed as "Points of Contact" for the resource, and they can
        follow the above instructions to grant you access. Once you have access to the resource,
        we also suggest taking a minute to look around and try out the tools we provide for
        managing and editing the resource (such as events, mailing lists, FAQs, and analytics).
    </p>

    <p style="font-size: 1.2em">
    Thank you!
    </p>

    <p style="font-size: 1.2em">
    Best,
    </p>

    <p style="font-size: 1.2em">
    Hub@Penn Admin
    </p>

    <p style="font-size: 1.2em">
    <a href = https://hub.provost.upenn.edu/> https://hub.provost.upenn.edu/ </a>.
    </p>
{% endblock %}
