<!-- SUBJECT: Better Utilize Your Hub@Penn Resource Page with FAQs -->
<!-- TYPES: {} -->
{% extends 'fyh_emails/base.html' %} {% block content %}
<h2>Better Utilize Your Hub@Penn Resource Page with FAQs</h2>
<p style="font-size: 1.2em">
  There is a lot of useful information on your resource page on Hub@Penn! One of
  the best ways to relay that information to the Penn Community is the Questions
  section. As users are exploring Hub@Penn, they are able to ask questions
  directly to your resource page which you can subsequently answer either
  privately to that user or publicly so others can see your response.
</p>
<p style="font-size: 1.2em">
  A great way to utilize this function is to prepopulate your Questions section
  with the resources’ most frequently asked questions. You are able to pose and
  answer questions on your own page to provide valuable information that users
  may ask about your resource.
</p>
<p style="font-size: 1.2em">
  We’ve prepared a short tutorial video which illustrates how to best utilize
  the Question section of your Hub@Penn resource page.
</p>
<a href="https://upenn.box.com/s/tgm27sqwnlgqa4at1lgo0bz0yyei1o8d"
  ><img alt="watch video" src="https://imgur.com/AlNUANm.png" width="100%"
/></a>
<p style="font-size: 1.2em">Best,</p>
<p style="font-size: 1.2em">Hub@Penn Team</p>
{% endblock %}
