<!-- SUBJECT: New iCal Feature on Hub@Penn! -->
<!-- TYPES: {} -->
{% extends 'fyh_emails/base.html' %}

{% block content %}
    <h2>Feature Update</h2>
    <p style="font-size: 1.2em">
    	Along with Penn Labs, we’ve been working hard to improve functionality on Hub@Penn. We are happy to launch <b>iCal integration</b> functionality. You can now sync your iCal with your resource card, making it easy for anyone viewing your resource on Hub@Penn to see upcoming events.
    </p>
    <p style="font-size: 1.2em">
    	We’ve put together a short tutorial video on how to sync an iCal with your resource on Hub@Penn:
    </p>
    <a href="https://upenn.app.box.com/s/g4ua469e2l46ckdeuyioqyzmws43ldgo"><img alt="watch video" src="https://i.imgur.com/FfpFsiP.png"
        width="100%" /></a>
    <p style="font-size: 1.2em">
    	This calendar integration is optional, and you can always add individual events to your resource as you see fit.
    </p>
    <p style="font-size: 1.2em">
    	Please feel free to reach out with any questions.
    </p>
    <p style="font-size: 1.2em">
    	Hub@Penn Team
    </p>
{% endblock %}
