<!-- SUBJECT: Deadline: Submit Hub@Penn Resource by December 1 -->
{% extends 'fyh_emails/base.html' %}

{% block content %}
<h2>Submit Hub@Penn Resource by December 1</h2>
<p style="font-size: 1.2em">
    Thank you to everyone who has already completed your <a href="https://hub.provost.upenn.edu/">Hub@Penn</a> resource
    entry. We recently hosted a demo of the platform which provides a background to the development of this platform as well
    as instructions on adding to Hub@Penn. A <mark>recorded archive can found <a
            href="https://upenn.box.com/s/f9gtow2jxvdnlm0kf66t2c8i2p6znerm">here</a></mark>.</p>
<p style="font-size: 1.2em; font-weight: bold">
    If you have not, please submit your resource information by December 1. You may also edit your entry at any time.
</p>
<p style="font-size: 1.2em">
    As a reminder, the all-new <a href="https://hub.provost.upenn.edu/">Hub@Penn</a> platform is as a place for Penn students to find and connect with support resources.
    This platform comes at the request of Penn's senior administration and after close collaboration with NSOAI, OLI,
    Penn Labs and VPUL. We look forward to offering Hub@Penn as a resource for Penn students starting in advance of the
    Spring 2021 semester.</p>
<p style="font-size: 1.2em">
    In order to ensure the success of Hub@Penn, we need Penn resources to help populate critical information about the
    services they offer. Your office has been identified as an essential resource for the Penn community. As such, we invite
    you to follow the link below to fill out a form and make your resource visible on Hub@Penn. To ensure up-to-date and
    accurate information is being hosted on Hub@Penn, this action needs to be taken by December 1.</p>

<p style="font-size: 1.2em">To submit your resource, <b>fill out the <a
        href="https://hub.provost.upenn.edu/create">Hub@Penn Submission Form</a> by December 1</b>.</p>

<p style="font-size: 1.2em">You have been designated to populate information for the following resource(s):</p>
<ul>{% for resource in resources %}<li><b>{{ resource }}</b></li>{% endfor %}</ul>

<p style="font-size: 1.2em">If there is another more appropriate contact to serve as the liaison between your resource
    and the Hub@Penn administrators, please feel free to forward this message and/or let us know who we should contact
    in future communications.</p>
<p style="font-size: 1.2em">To account for rapid changes throughout 2020 and in preparation for the start of the Spring
    2021 semester, please feel welcome to provide general information about your office, directing students to your
    website for the most up-to-date information. Additionally, your listing on Hub@Penn can easily be updated as needed.
</p>
<p style="font-size: 1.2em; font-weight: bold;">If you're having trouble submitting a resource, the developers recommend:</p>
<ol style="font-size: 1.2em;">
    <li>Try filling out the form in incognito mode.</li>
    <li>Be sure the Public and Internal Points of Contact are saved before hitting submit.</li>
</ol>
<p style="font-size: 1.2em">If you have any feedback or need troubleshooting, please email <a
        href="mailto:hub.provost@upenn.edu">hub.provost@upenn.edu</a> and the Penn Labs team will be in contact shortly.
</p>
<p style="font-size: 1.2em">Thank you in advance for taking the time to ensure easy access to your resource through
    Hub@Penn and as always for the resources your office offers our Penn community.</p>
<p style="font-size: 1.2em">Thanks again,</p>
<p style="font-size: 1.2em">Hub@Penn Planning Committee<br /><a
        href="https://hub.provost.upenn.edu/">hub.provost.upenn.edu</a><br /><a
        href="mailto:hub.provost@upenn.edu">hub.provost@upenn.edu</a></p>
<p style="font-size: 1.2em">Office of New Student Orientation & Academic Initiatives (NSOAI)<br />
    Vice Provost for University Life (VPUL)<br />Penn Labs<br />Online Learning Initiative (OLI)</p>
{% endblock %}