<!-- SUBJECT: [Hub@Penn] Feature Update: Keywords -->
<!-- TYPES: {} -->
{% extends 'emails/base.html' %} {% block content %}
<h2>[Hub@Penn] Feature Update: Keywords</h2>
<p style="font-size: 1.2em">Hi Campus Partners,</p>
<p style="font-size: 1.2em">We hope this email finds you well!</p>
<p style="font-size: 1.2em">
  We are writing to invite you to add keywords to your resource on the Hub@Penn
  platform. <b>Add keywords to your resource to make it easier to find</b>. This
  will allow students to more effectively identify your resource in their
  general searches on Hub@Penn. Please identify any keywords that relate to your
  resource and add them into the system using the process outlined below.
</p>
<center>
    <img src="https://i.imgur.com/wmgu7wj.png" alt="Keywords add screenshot" style="width: 75%" />
</center>
<p style="font-size: 1.2em">
  Through Hub@Penn’s filter algorithm, users are able to easily search and sort
  the resources that are most likely be useful for them. Your keyword additions
  will make this experience even easier for students to navigate and find what
  they are looking for. As illustrated below, these keywords reflect terms, acronyms,
  abbreviations, or phrases that relate to your resource and ultimately promote its
  discoverability on the platform.
</p>
<center>
  <img src="https://i.imgur.com/11AI7lS.png" alt="Keywords search screenshot" style="width: 75%" />
</center>
<p style="font-size: 1.2em">Please let us know if you have any questions.</p>
<p style="font-size: 1.2em">Thank you!</p>
<p style="font-size: 1.2em">
    Best, </br> Hub@Penn Admin </br> <a href=https://hub.provost.upenn.edu />https://hub.provost.upenn.edu/</a>
</p>

<p style="font-size: 1.2em">
    <b>What is Hub@Penn?</b></br>Hub@Penn is a platform to help Penn students find and connect with university support
    resources. Whether you need help with financial wellness, academic support, healthcare, career and fellowship
    applications, and more, you can use Hub@Penn to find the resource that meets your needs.
</p>

<p style="font-size: 1.2em">
    Office of New Student Orientation & Academic Initiatives (NSOAI) </br>
    Online Learning Initiative (OLI) </br>
    Penn Labs </br>
    University Life </br>
</p>

<img src="https://pennclubs.com/static/img/hap_oli_logo.png" alt="Admin page screenshot" style="width: 60%" />
<br></br>
<img src="https://pennclubs.com/static/img/hap_vpul_logo.png" alt="Admin page screenshot" style="width: 60%" />
<br></br>
<img src="https://pennclubs.com/static/img/hap_nsoai_logo.png" alt="Admin page screenshot" style="width: 60%" />
{% endblock %}
