<!-- SUBJECT: Hub@Penn One-Pager -->
<!-- TYPES: {} -->
{% extends 'fyh_emails/base.html' %} {% block content %}
<h2>Hub@Penn One-Pager</h2>
<p style="font-size: 1.2em">
    Made for students by students, Hub@Penn was created by the team of undergraduate engineers in the Penn Labs student club. Building on the success of the online platform they created for Penn Clubs, Penn Labs teamed up with New Student Orientation and Academic Initiatives, the Office of the Vice Provost for University Life, and the Online Learning Initiative to design and launch the new Hub@Penn platform.
</p>
<p style="font-size: 1.2em">
    <a href="https://hub.provost.upenn.edu/">Hub@Penn</a> serves as a one stop shop for the Penn community to find and connect with university resources and support services. Whether you need help with financial wellness, academic support, healthcare, career and fellowship applications, and more, you can use Hub@Penn to find the resource that meets your needs.
</p>
<p style="font-size: 1.2em">
    University resources from across campus have created “cards” on the platform. The cards provided key information such as services offered, FAQs, and contact information. Offices are even able to sync an iCal calendar to their card, keeping Hub@Penn up to date with their latest events. Through Hub@Penn’s filter algorithm, users are able to easily search and sort the resources that are most likely be useful for them. As Hub@Penn continues to listen to the needs of students, more and more resources are being added to best meet the needs of the entire Penn community.
</p>
<p style="font-size: 1.2em">
    Please help inform students -- especially incoming students -- about this new way to find the resourced that will help them succeed at Penn and beyond.
</p>

<p style="font-size: 1.2em; margin: 0">Hub@Penn</p>
<p style="font-size: 1.2em; margin-top: 0"><a href="https://hub.provost.upenn.edu/">hub.provost.upenn.edu</a></p>

<p style="font-size: 1.2em; margin: 0">Office of New Student Orientation & Academic Initiatives (NSOAI)</p>
<p style="font-size: 1.2em; margin: 0">Vice Provost for University Life (VPUL)</p>
<p style="font-size: 1.2em; margin: 0">Online Learning Initiative (OLI)</p>

{% endblock %}
