<!-- SUBJECT: 3 Required Actions on Hub@Penn – or else! ;) -->
<!-- TYPES:
code:
    type: string
-->
{% extends 'fyh_emails/base.html' %} {% block content %}
<h2>3 Required Actions on Hub@Penn – or else! ;)</h2>
<p style="font-size: 1.2em">
    Hi all!
</p>
<p style="font-size: 1.2em">
    What a great first semester we had at Hub@Penn! Your contributions are helping to make Hub@Penn the primary resource search engine for Penn students. To date, over 100 resources are listed on Hub@Penn. We have also added new features since launching, including the ability to ingest iCal files to make events more visible and accessible to the Penn community as well as a new filtering algorithm that makes it easier than ever for students to find the resources they need.
</p>
<p style="font-size: 1.2em">
    As we look forward to the coming semester and anticipate a large number of students utilizing Hub@Penn this summer, <b>we have three orders of business that <u>require</u> your action:</b>
</p>
<p>
    <ol>
        <li style="font-size: 1.2em">Each resource admin needs to conduct a semesterly review of their resource, making sure it is up to date with the most accurate, current information. <b>Resource cards that fail to review their cards may be removed from Hub@Penn.</b> Please ensure that you have an updated description and the correct contact person.</li>
        <li style="font-size: 1.2em">We have changed our sorting algorithm. As such, <b>you need to go in and select any exclusive programming your resource provides.</b> This is a necessary enhancement to the tag feature and will allow the Penn community to more easily identify resources that pertain to them.</li>
        <li style="font-size: 1.2em">Please <b>include any acronyms associated with your resource</b> in the keywords section. This makes your resource more searchable.</li>
    </ol>
</p>
<p style="font-size: 1.2em">
    All resources that update their card by August 2nd will gain exclusive access to be invited to host a table at the Hub@Penn Resource Fair occurring on August 24 & 25 in Houston Hall during New Student Orientation. Please <a href="https://pennclubs.com/club/{{ code }}">click here</a> to renew your resource card. Again, we want to express our appreciation for all the work you do on our campus and your willingness to put in the work to make Penn resources more accessible for all. We truly believe Hub@Penn will be an invaluable website as the Penn community makes their way back to campus, many for the first time.
</p>
<p style="font-size: 1.2em">Best,</p>
<p style="font-size: 1.2em; margin: 0">Hub@Penn</p>
<p style="font-size: 1.2em; margin-top: 0"><a href="https://hub.provost.upenn.edu/">hub.provost.upenn.edu</a></p>

{% endblock %}
