<!-- SUBJECT: Getting Involved with Clubs & SAC Fair Feedback -->
<!-- TYPES: {} -->
{% extends 'emails/base.html' %}

{% block content %}
    <h2>Getting Involved with Clubs & SAC Fair Feedback</h2>
    <p style="font-size: 1.2em">
    	Hi Campus Partners,
    </p>
    <p style="font-size: 1.2em">
    We hope this email finds you well!
    </p>
    <p style="font-size: 1.2em">
        We are writing with a reminder to update your resource listing on the Hub@Penn platform.
        We want to ensure that Penn students have the latest information from all resource offerings
        on the platform so that they can access relevant announcements and contact information from your office.
    </p>
    <p style="font-size: 1.2em">
       Please review your current resource offering on the platform and make sure that all the information is correct.
    </p>

    <p style="font-size: 1.2em">
        Please let us know if you have any questions.
    </p>

    <p style="font-size: 1.2em">
    Thank you!
    </p>

    <p style="font-size: 1.2em">
    Best,
    </p>

    <p style="font-size: 1.2em">
    Hub@Penn Admin
    </p>

    <p style="font-size: 1.2em">
    <a href = https://hub.provost.upenn.edu/> https://hub.provost.upenn.edu/ </a>.
    </p>
{% endblock %}
