<!-- SUBJECT: [Hub@Penn] Update Your Penn Resource -->
<!-- TYPES: {} -->
{% extends 'fyh_emails/base.html' %}

{% block content %}
<h2>[Hub@Penn] Update Your Penn Resource</h2>

<p style="font-size: 1.2em">
    Hi Campus Partners,
</p>

<p style="font-size: 1.2em">
    We hope this email finds you well!
</p>

<p style="font-size: 1.2em">
    As the new semester is upon us, we are writing with a reminder to update your resource listing on the Hub@Penn
    platform. Outdated information is a common complaint we hear from students! We want to ensure that Penn students
    have the most up-to-date information from all resources on the platform so that they can access relevant program
    events, mailing lists, FAQs, and contact information from your office.
</p>

<p style="font-size: 1.2em"><b>
        Please review your current resource offering on the platform and make sure that all the information is correct.
    </b></p>

<p style="font-size: 1.2em">
    If you need to designate a different member of your team to update your Hub@Penn listing, you can invite them as
    editors in the "Admin" tab.
</p>

<img src="https://i.imgur.com/B2nvYHw.png" alt="Penn Clubs Logo" style="width: 100%" />
<img src="https://i.imgur.com/D54cJgh.png" alt="Penn Clubs Logo" style="width: 100%" />

<p style="font-size: 1.2em">
    We are excited to partner with you on the Hub@Penn initiative and create a centralized one-stop-shop for Penn
    student questions and concerns.
</p>

<p style="font-size: 1.2em">
    Please let us know if you have any questions.
</p>

<p style="font-size: 1.2em">
    Thank you!
</p>

<p style="font-size: 1.2em">
    Best, </br> Hub@Penn Admin </br> <a href=https://hub.provost.upenn.edu />https://hub.provost.upenn.edu/</a>
</p>

<p style="font-size: 1.2em">
    <b>What is Hub@Penn?</b></br>Hub@Penn is a platform to help Penn students find and connect with university support
    resources. Whether you need help with financial wellness, academic support, healthcare, career and fellowship
    applications, and more, you can use Hub@Penn to find the resource that meets your needs.
</p>

<p style="font-size: 1.2em">
    Office of New Student Orientation & Academic Initiatives (NSOAI) </br>
    Online Learning Initiative (OLI) </br>
    Penn Labs </br>
    University Life </br>
</p>

<img src="https://pennclubs.com/static/img/hap_oli_logo.png" alt="Admin page screenshot" style="width: 60%" />
<br></br>
<img src="https://pennclubs.com/static/img/hap_vpul_logo.png" alt="Admin page screenshot" style="width: 60%" />
<br></br>
<img src="https://pennclubs.com/static/img/hap_nsoai_logo.png" alt="Admin page screenshot" style="width: 60%" />
{% endblock %}