<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ BRANDING_SITE_NAME }} API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-light is-medium" style="min-height: calc(100vh - 72px)">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-weight-bold">
            Welcome!
          </h1>
          <h2 class="subtitle">
            This is the <strong>{{ BRANDING_SITE_NAME }} REST API</strong>, the backend service that keeps track of organizations at the University of Pennsylvania.
          </h2>
          <div class="content">
            <a class="button is-info" href="https://{{ DOMAIN }}">{{ BRANDING_SITE_NAME }} Site</a>
            <a class="button" href="/api/documentation">Routes</a>
            <a class="button" href="/storybook/index.html">Storybook</a>
            <a class="button" href="/api/emailpreview">Emails</a>
            <a class="button" href="https://github.com/pennlabs/penn-clubs">Source</a>
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container">
          <p> Made with
            <span class="icon is-small" style="color:#F56F71"><i class="fa fa-heart"></i></span>
            by
            <a href="http://pennlabs.org" target="_blank">Penn Labs</a>
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
